In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('winequality-white.csv',sep=';')
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [3]:
data['quality'].unique()

array([6, 5, 7, 8, 4, 3, 9], dtype=int64)

In [33]:
bins = (2, 6.5, 8)
group_names = ['bad', 'good']
data['quality'] = pd.cut(data['quality'], bins = bins, labels = group_names)

In [37]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
data['quality'] = pd.get_dummies(data['quality'])
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,1
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,1
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,1
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,1

In [38]:
X = data[['chlorides','alcohol','sulphates','volatile acidity','citric acid']]
y = data['quality']
print(X.shape)
print(y.shape)

(4898, 5)
(4898,)

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,stratify=y)

In [40]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [41]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [42]:
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [43]:
score = model.score(X_train, y_train)
score2 = model.score(X_test,y_test)
print(f'Training data score: {score}')
print(f'Testing data score: {score2}')

Training data score: 0.7996188401851347
Testing data score: 0.793469387755102

In [44]:
prediction = model.predict(X_test)

In [45]:
from sklearn.metrics import classification_report
print(classification_report(y_test,prediction))

             precision    recall  f1-score   support

          0       0.55      0.23      0.33       265
          1       0.82      0.95      0.88       960

avg / total       0.76      0.79      0.76      1225

In [46]:
pd.DataFrame({"Prediction": prediction, "Actual": y_test}).reset_index(drop=True)

      Actual  Prediction
0          1           1
1          1           1
2          1           0
3          1           1
4          1           1
5          1           1
6          1           1
7          0           1
8          1           0
9          0           1
10         1           1
11         1           1
12         1           1
13         1           1
14         1           1
15         1           1
16         1           1
17         1           1
18         1           1
19         1           1
20         1           1
21         0           0
22         1           0
23         1           1
24         1           1
25         1           1
26         1           1
27         1           1
28         1           1
29         1           1
...      ...         ...
1195       1           0
1196       1           1
1197       1           0
1198       0           0
1199       1           1
1200       1           1
1201       1           0
1202       0           1
1203       1           1
1204       1           1
1205       0           0
1206       1           1
1207       0           1
1208       1           1
1209       1           1
1210       0           1
1211       1           1
1212       1           1
1213       0           1
1214       1           1
1215       0           1
1216       1           1
1217       1           1
1218       1           1
1219       1           1
1220       1           1
1221       1           1
1222       0           1
1223       0           1
1224       1           1

[1225 rows x 2 columns]

In [ ]:
!cd